<html>
  <head>
    <title>Detail</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Detail Page</h1>
    <a href="/">Back</a>
    <p><%= joke.setup %></p>
    <p><%= joke.punchline %></p>
    <p><%= joke.poster %></p>
    <p><%= joke.timestamp %></p>
    <form action="/<%= joke.id %>/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
