<html>
  <head>
    <title>Detail</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Detail Page</h1>
    <a href="/">Back</a>
    <!-- <%if (locals.message) {%> -->
    <p><%= message.message %></p>
    <p><%= message.author %></p>
    <p><%= message.timestamp %></p>
    <p><%= message.id %></p>
    <!-- <% } %> -->
    <form action="/<%= message.id %>/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
